.header {

  h2 {
    margin: 32px 0;

    @media (max-width: 700px) {
      font-size: 24px;
      margin: 22px 0;
    }
  }
}

.breadcrumbs {
  margin-top: 32px;

  &__divider {
    margin: 0 15px;
    color: #828282;
  }

  .active {
    color: #000;
  }

  a {
    text-decoration: none;
    color: #828282;
  }
}