.select {
  margin-bottom: 20px;
  display: flex;

  label {
    font-size: 12px;
    color: #4F4F4F;
    margin-left: 16px;
  }

  @media (max-width: 700px) {
    display: initial;
  }
}

.select-price {
  margin-right: 24px;
}

.select-price, .select-material {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62px;
  width: 300px;

  @media (max-width: 700px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: auto;
  }
}

#sorting-select, #filter-select {

  .vs__dropdown-toggle {
    border: none;
    height: 40px;
  }

  .vs__search {
    font-family: "SF UI Text Regular", sans-serif;
    padding: 0 14px;
  }

  .vs__open-indicator {
    fill: black;
    margin: 2px 14px 0 0;
  }

  .vs--searchable .vs__dropdown-toggle {
      cursor: pointer;
  }
}

.select-input {
  background-color: #F2F2F2;
  font-size: 14px;
}

